[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.x"
django-debug-toolbar = "*"
pillow = "*"
mysqlclient = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "python manage.py runserver"
